/*================================================================================================
  Custom Style Here
  ==============================================================================================*/

  .header-nav-section .menu-nav li {
    padding: 15px 3% 13px !important;
}

.centerbox {
  width: 50%;
  position: absolute;
  left: 10%;
  top: 50%;
}
.centerbox h2 {
  font-size: 48px;
}
.dfix {
  overflow: hidden;
}
.banner-item1 {
  padding: 20px;
  text-align: center;
  transition: 500ms;
}
.banner-item1:hover{
  background: rgba(0, 0, 0, 0.12);
  transform: scale(1.2);
}
.carousel-caption {
    bottom: 6.25rem;
    text-align: left !important;
}
.product-style-2 {
    padding: 19px 0px 0px 0px !important;
}
.product-info {
  padding: 15px 8px;
}
.product-style-2 {
  position: relative;
}
.popup {
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 90%;
  height: 90%;
  transform: translate(0%,45%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, bottom 0.4s;
}
.open-popup {
  bottom: 60%;
  transform: translate(0%,0%) scale(1);
}
.wrap-product-detail .detail-info .wrap-price {
    margin-top: -5px !important;
}
.wrap-product-detail .detail-info .wrap-butons {
    display: block !important;
    padding-top: 0px !important;
    margin-left: 35px !important;
}
.wrap-product-detail .detail-info .wrap-butons .add-to-cart {
    width: 100%;
}
.flex-viewport {
    max-height: 570px !important;
}
.wrap-show-advance-info-box {
    display: block !important;
}
.bbox {
    margin: 10px 10px;
    /* padding: 10px 5px; */
    box-shadow: 1px 1px 7px;
}
.toast-top-full-width{
  font-size: 24px !important;
}